.carousel {
  margin-top: 3.7rem;
  margin-bottom: 2rem;
}
.slides {
  position: relative;
  .slick-dots {
    position: absolute;
    bottom: 10%;
  }
  .slick-prev {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 30px;
    &::before {
      font-size: 35px;
      color: orange;
      opacity: 0.6;
    }
  }
  .slick-next {
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 1;
    &::before {
      font-size: 30px;
      color: orange;
      opacity: 0.6;
    }
  }
  .trailer {
    color: red;
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 2rem;
    &:hover{
      cursor: pointer;
    }
  }
}
